
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href='/static/css/student_dashboard.css'>
  <title>Student Enrollments</title>
</head>
<body>
  <header>
  </header>
  <section class="student-enrollments card bg-white mx-4 my-4 w-55 p-3" id="student-enrollments">
    <h4>Student Enrollments</h4>
  <div class="container-fluid p-1 bg-white mx-1 my-1 ">
    <div class="row">
      <div class="col">
        <div style="max-height: 500px; overflow-y: auto;">
          <table id="enrollments-table" class="table table-fixed table-striped table-light ">
            <thead>
              <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Roll number</th>
                <th scope="col">Department</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody id="enrollment-table">
                {% for enrollment in enrollments %}
                <tr>
                  <td>{{enrollment.student.name}}</td>
                  <td>{{enrollment.student.s_id}}</td>
                  <td>{{enrollment.student.department}}</td>
                  <td>{{enrollment.student.email}}</td> 
                </tr>
                {% endfor %} 
            </tbody>
          </table>   
        </div>
      </div>
    </div>
  </div>
  </section>
  <section class="student-requests card bg-white mx-4 my-4 w-55 p-3">
    <h4>Student Requests</h4>
  <div class="container-fluid p-1 bg-white mx-1 my-1 ">
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%endfor%}
    <div class="row">
      <div class="col">
        <div style="max-height: 500px; overflow-y: auto;">
          <table id="dtBasicExample" class="table table-fixed table-striped table-light bg-white">
            <thead>
              <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Roll Number</th>
                <th scope="col">Department</th>
                <th scope="col">Email</th>
                <th scope="col></th>
              </tr>
            </thead>
            <tbody id="request-table">
              {% for request in requests %}
              <tr>
                <td>{{request.student.name}}</td>
                <td>{{request.student.s_id}}</td>
                <td>{{request.student.department}}</td>
                <td>{{request.student.email}}</td>
                <td>
                  <a href="{% url 'approve' request.student.email request.course.code  %}" class="btn btn-success btn-sm p-2 m-1" onclick="refreshPage()">Approve</a>
                  <a href="{% url 'reject' request.student.email request.course.code %}" class="btn btn-danger btn-sm p-2 m-1" onclick="refreshPage()">Reject</a>
              </td>
              </tr>
              {% endfor %} 
            </tbody>
      </table>
            
        </div>
      </div>
    </div>
  </div>
</section>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
    function refreshPage() {
      window.location.reload();
    }
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    document.addEventListener("DOMContentLoaded",() =>{
      $('.alert').alert();
    })
    </script>
</body>
</html>


